
<ion-header>
  <ion-toolbar color="primary"> 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Règles générales</ion-title>
    <ion-buttons slot="end">
      <img src="../../assets/icon/Black Minimalist Luxury Car Automotive Logo (3).png" alt="" width="100px" height="100px">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-class">

    
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Autoroute</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="autoroute">
        <img src="../../assets/Photos/R.png" alt="Autoroute" width="50%" height="100px" >
      </div><br>
      Autoroute<br><br>
      Sécurité routière sur l'autoroute: <br><br>

    1 - Respecter les distances de 
    sécurité: <br>
    La conduite sur autoroute impliquant 
    la présence de nombreux usagers sur 
    des voies de circulation proches, les 
    conducteurs doivent impérativement 
    respecter les distances de sécurité 
    liées aux autoroutes, et qui sont à 
    calculer à partir des lignes de rive, 
    qui se trouvent à l'extrémité de la 
    voie la plus à droite. <br>
    2 - Faire des pauses toutes les deux 
    heures <br>

    Les usagers circulant le long du 
    réseau autoroutier doivent 
    impérativement penser à réaliser des 
    pauses toutes les deux heures sur des 
    aires de repos. <br>

    3 - Vérifier les voyants de son 
    tableau de bord <br>

    Les usagers doivent vérifier 
    régulièrement l'état des voyants de 
    leur tableau de bord ainsi que le 
    volume de carburant restant dans leur 
    réservoir afin d'éviter au maximum 
    tout risque de panne sur l'autoroute. <br>

    4 - Utiliser la bande d'arrêt 
    d'urgence et les refuges des a 
    utoroutes <br>

    Les conducteurs circulant le long du 
    réseau autoroutier français ne 
    doivent utiliser la bande d'arrêt 
    d'urgence qu'en cas d'extrême 
    urgence. Il est également fortement 
    conseillé aux automobilistes devant 
    s'arrêter de stopper leur véhicule 
    sur un refuge d'autoroute s'ils en 
    ont la possibilité. <br>

   5 - Contacter les secours grâce aux 
   dispositifs prévus à cet effet <br>

    Si de plus en plus de véhicules sont 
    équipés d'un dispositif eCall, ce 
    n'est pas le cas de l'ensemble des 
    automobiles pouvant circuler le long 
    du réseau autoroutier. Si des usagers 
    de la route sont les victimes d'une 
    panne ou sont les témoins d'un 
    accident de la circulation, ils ne 
    doivent surtout pas hésiter à 
    utiliser les bornes d'appel SOS 
    qu'ils pourraient rencontrer. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Agglomérations</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="autoroute">
        <img src="../../assets/Photos/OIP.jpg" alt="Autoroute" width="50%" height="100px" >
      </div><br>
      Sécurité routière sur les agglomérations: <br><br>

      1. Limites de vitesse : <br>

      Respectez les limitations de vitesse indiquées. Dans les zones urbaines, la vitesse est généralement limitée à 50 km/h, mais cela peut varier. Assurez-vous de connaître les limites spécifiques à la région. <br><br>
      
      2. Priorité aux piétons :<br>
      
      Donnez toujours la priorité aux piétons aux passages cloutés et aux intersections. Arrêtez-vous complètement lorsque quelqu'un traverse la rue.<br><br>
      
      3.Feux de signalisation :<br>
      
      Respectez les feux de signalisation. Arrêtez-vous au feu rouge et ne traversez l'intersection que lorsque le feu est vert.<br><br>
      
      4. Circulation dans les ronds-points :<br>
      
      Suivez les règles spécifiques aux ronds-points. En général, les véhicules entrant dans le rond-point doivent céder le passage à ceux qui sont déjà à l'intérieur.<br><br>
      
      5. Utilisation du téléphone portable au volant :<br>
      
      Évitez l'utilisation du téléphone portable pendant la conduite. Si nécessaire, utilisez un kit mains-libres.
    </ion-card-content>
  </ion-card><br><br><br>
 </ion-content>
   
 
  
 
  
 
 

