<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/authentification"></ion-back-button>
      </ion-buttons>
      <ion-title>Espace gestionnaire</ion-title>
      <ion-buttons slot="end">
        <img src="../../assets/icon/Black Minimalist Luxury Car Automotive Logo (3).png" alt="" width="100px" height="100px">
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-card color="mediumx">
      <ion-router-link routerLink="/ajouter-utilisateur">
        <ion-button color="success">Ajouter</ion-button>
      </ion-router-link>
      <ion-card-header>
        <ion-card-title></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-list>
                <ion-item *ngFor="let utilisateur of utilisateurs">
                  <ion-label>{{ utilisateur.name }}</ion-label>
                  <ion-label>{{ utilisateur.email }}</ion-label>
                  <ion-label>{{ utilisateur.role }}</ion-label>
                  <ion-buttons slot="end">
                    <ion-router-link routerLink="/edit-user">
                        <ion-button color="primary" size="small">Editer</ion-button>
                    </ion-router-link>
                    <ion-button color="danger" size="small" (click)="deleteUser(utilisateur.id)">Désactiver</ion-button>
                </ion-buttons>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>


