<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Infraction</ion-title>
    <ion-buttons slot="end">
      <img src="../../assets/icon/Black Minimalist Luxury Car Automotive Logo (3).png" alt="" width="100px" height="100px">
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card style="margin-top: 100px;">
    <ion-card-header>
      <ion-card-title>Uploader une vidéo ou une photo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <input type="file" (change)="onFileChange($event)">
      <ion-img></ion-img>
      <!-- Vous pouvez ajouter ici d'autres éléments pour afficher des informations sur le fichier sélectionné -->
      <!-- <ion-button expand="full">Signaler l'infraction</ion-button> -->

       <!-- Afficher le message si le téléchargement est réussi -->

    </ion-card-content>
  </ion-card>
   <!-- Afficher le message si le téléchargement est réussi -->
  <ion-item *ngIf="message" style="color: green;">
    {{ message }}
  </ion-item>
</ion-content>


