<!-- authentication.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>Authentification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" name="mot_de_passe" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Se connecter</ion-button>
  </form>
</ion-content>
