
<ion-header>
  <ion-toolbar color="primary"> 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/utilisateur"></ion-back-button>
    </ion-buttons>
    <ion-title>Contenu éducatif</ion-title>
    <ion-buttons slot="end">
      <img src="../../assets/icon/Black Minimalist Luxury Car Automotive Logo (3).png" alt="" width="100px" height="100px">
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true">
  <!-- <ion-list>
      <ion-item>
      <video src="../../assets/videos/video1.mp4" height="300px" autoplay></video>
    </ion-item>
   </ion-list>  -->

   <ion-card  style="width: 300px; height: 320px; margin: auto;">
    <ion-card-title style="text-align: center;">
      Alerter les secours 
    </ion-card-title>
    <ion-card-content>
      <video src="../../assets/videos/Alerter_Les_Secours(720p).mp4" height="300px" controls width="100%" poster="../../assets/Photos/Capture1.PNG"></video>
    <!-- </ion-item> -->
    </ion-card-content>
    <ion-button color="success">Appris</ion-button>
   </ion-card> <br><br>

   <ion-card  style="width: 300px; height: 320px; margin: auto;">
    <ion-card-title style="text-align: center;">
      Sécurité au volant
    </ion-card-title>
    <ion-card-content>
      <video src="../../assets/videos/Apprendre_la_sécurité_routière_en_voiture___Sécurité_routière(720p).mp4" height="300px" controls width="100%" poster="../../assets/Photos/Capture2.PNG"></video>
    <!-- </ion-item> -->
    </ion-card-content>
    <ion-button color="success">Appris</ion-button>
   </ion-card> <br><br>

   <ion-card  style="width: 300px; height: 320px; margin: auto;">
    <ion-card-title style="text-align: center;">
      Sécurité à deux roues
    </ion-card-title>
    <ion-card-content>
      <video src="../../assets/videos/Apprendre_la_sécurité_routière_à_deux-roues___Sécurité_routière(720p).mp4" height="300px" controls width="100%" poster="../../assets/Photos/Capture3.PNG"></video>
    <!-- </ion-item> -->
    </ion-card-content>
    <ion-button color="success">Appris</ion-button>
   </ion-card>

  


</ion-content>





