

<ion-header>
  <ion-toolbar color="primary"> 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/authentification"></ion-back-button>
    </ion-buttons>
    <ion-title>Utilisateur</ion-title>
    <ion-buttons slot="end">
      <img src="../../assets/icon/Black Minimalist Luxury Car Automotive Logo (3).png" alt="" width="100px" height="100px">
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
  
<ion-content class="ion-padding" >
  <ion-card style="margin-top: 100px;">
    <ion-router-link routerLink="/contenu-educatif">
      <ion-card-content>
        <ion-button expand="full" class="custom-button">
          <ion-icon name="school-outline" slot="start"></ion-icon>
          Acceder au contenu éducatif
        </ion-button>
      </ion-card-content>
    </ion-router-link>
  </ion-card>

  <ion-card>
    <ion-router-link routerLink="/partage-reseaux-sociaux">
      <ion-card-content>
        <ion-button expand="full" class="custom-button">
          <ion-icon name="share-social-outline" slot="start"></ion-icon>
          Partager sur les réseaux sociaux</ion-button>
      </ion-card-content>
    </ion-router-link>
  </ion-card>

  <ion-card>
    <ion-router-link routerLink="/statistiques-et-classement">
      <ion-card-content>
        <ion-button expand="full" class="custom-button">
          <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
          Verifier statistiques et classements</ion-button>
      </ion-card-content>
    </ion-router-link>
  </ion-card>
</ion-content>


